#{extends 'parentTemplate.html' /}
#{set title:'Senseship - login' /}

<div class="container">

    <!-- TODO localize messages -->

    <!-- HEADER -->
    <div class="row">
        <div class="span4 offset4 page-header">
            <h1>&{'views.secure.login.header'}</h1>
        </div>
    </div>

    #{form @authenticate()}

        <!-- NOTIFICATION AREA -->
        <div class="row">
            <div class="span7 offset3">
                #{if flash.error}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>&{flash.error}</strong>
                    </div>
                #{/if}
                #{if flash.success}
                    <p class="success">
                    &{flash.success}
                    </p>
                #{/if}
            </div>
        </div>

        <!-- FORM AREA -->
        <div class="controls controls-row">
            <div class="span3 offset3">
                <p id="username-field">
                    <label for="email">&{'views.secure.login.form.email'}</label>
                </p>
            </div>
            <div class="span5">
                <input type="text" class="input-xlarge" name="username" id="email" value="${flash.username}" />
            </div>
        </div>
        <div class="controls controls-row">
            <div class="span3 offset3">
                <p id="password-field">
                    <label for="password">&{'views.secure.login.form.password'}</label>
                </p>
            </div>
            <div class="span5">
                <input type="password" class="input-xlarge" name="password" id="password" value="" />
            </div>
        </div>
        <div class="controls controls-row">
            <div class="controls span3 offset3">
                <label class="checkbox" for="remember">
                    <input type="checkbox" class="regular-checkbox input-xlarge" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /> &{'views.secure.login.remember'}
                </label>
            </div>
            <div class="span5">
                <p id="new-user">
                    <span>&{'views.secure.login.newUser'} #{a @UserController.showForm()}&{'views.secure.login.newUser.link'}#{/a}</span>
                </p>
            </div>
        </div>
        <div class="controls controls-row">
            <div class="span4 offset4">
                <input type="submit" class="btn btn-custom btn-success span4 offset3" id="signin" value="&{'secure.signin'}" />
            </div>
        </div>
    #{/form}
</div>