#{extends 'parentTemplate.html' /}
#{set title:'login' /}

<div class="container">


    <div class="row">
        <div class="span4 offset4 page-header">
            <h1>Please login</h1>
        </div>
    </div>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}

        <div class="row">
            <div class="span3 offset3">
                <p id="username-field">
                    <label for="username">&{'secure.username'}</label>
                </p>
            </div>
            <div class="span5">
                <input type="text" name="username" id="username" value="${flash.username}" />
            </div>
        </div>
        <div class="row">
            <div class="span3 offset3">
                <p id="password-field">
                <label for="password">&{'secure.password'}</label>
                </p>
            </div>
            <div class="span5">
                <input type="password" name="password" id="password" value="" />
            </div>
        </div>
        <div class="row">
            <div class="span3 offset3">

                    <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
                    <label for="remember">&{'secure.remember'}</label>

            </div>
            <div class="span5">
                <p id="new-user">
                    <span>New user? Register for free #{a @UserController.showForm()}here#{/a}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span4 offset4">
                <input type="submit" class="btn btn-custom btn-success span4 offset3" id="signin" value="&{'secure.signin'}" />
            </div>
        </div>





        </div>
	#{/form}
</div>