/******* FONT DEFINITION ********/
@font-face {
	font-family: 'SansationRegular';
	src: url('/public/fonts/sansation/Sansation_Regular-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Regular-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Regular-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationLight';
	src: url('/public/fonts/sansation/Sansation_Light-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Light-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Light-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Light-webfont.svg#SansationLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationBold';
	src: url('/public/fonts/sansation/Sansation_Bold-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Bold-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Bold-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Bold-webfont.svg#SansationBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationLightLightItalic';
	src: url('/public/fonts/sansation/Sansation_Light_Italic-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Light_Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Light_Italic-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Light_Italic-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationItalic';
	src: url('/public/fonts/sansation/Sansation_Italic-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Italic-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Italic-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Italic-webfont.svg#SansationItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationBoldItalic';
	src: url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* HACK FOR COMBO HEIGHT */
.test {
	height: 27px !important;
}

/* FIX WARNING CLOSE BUTTON BORDERS */
.close {
	background-color: transparent;
	border: none;
}

/* Customization */
body {
	background-image: url(/public/images/noise.gif);
	font-family: 'SansationRegular', Fallback, Helvetica;
}

h1 {
	font-family: 'SansationBold', Fallback, Helvetica;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

/*==========================================*/
/*			Project							*/
/*==========================================*/
#mapSelector {
	border-radius: 1px;
	border-width: 1px;
	border-style: solid;
	bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    top:0;
    position:inherit;
}
