/***********************************************/
/**********  	FONT DEFINITION 		********/
/***********************************************/

@font-face {
	font-family: 'SansationRegular';
	src: url('/public/fonts/sansation/Sansation_Regular-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Regular-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Regular-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationLight';
	src: url('/public/fonts/sansation/Sansation_Light-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Light-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Light-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Light-webfont.svg#SansationLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationBold';
	src: url('/public/fonts/sansation/Sansation_Bold-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Bold-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Bold-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Bold-webfont.svg#SansationBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationLightLightItalic';
	src: url('/public/fonts/sansation/Sansation_Light_Italic-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Light_Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Light_Italic-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Light_Italic-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Light_Italic-webfont.svg#SansationLightLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationItalic';
	src: url('/public/fonts/sansation/Sansation_Italic-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Italic-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Italic-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Italic-webfont.svg#SansationItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SansationBoldItalic';
	src: url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.eot');
	src: url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.woff') format('woff'), url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.ttf') format('truetype'), url('/public/fonts/sansation/Sansation_Bold_Italic-webfont.svg#SansationBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn-custom {
    background-color: hsl(125, 40%, 44%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7e0bb", endColorstr="#439d4a");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#b7e0bb), to(#439d4a));
    background-image: -moz-linear-gradient(top, #b7e0bb, #439d4a);
    background-image: -ms-linear-gradient(top, #b7e0bb, #439d4a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7e0bb), color-stop(100%, #439d4a));
    background-image: -webkit-linear-gradient(top, #b7e0bb, #439d4a);
    background-image: -o-linear-gradient(top, #b7e0bb, #439d4a);
    background-image: linear-gradient(#b7e0bb, #439d4a);
    border-color: #439d4a #439d4a hsl(125, 40%, 35%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}

/***********************************************/
/**********  	NAV BAR			 		********/
/***********************************************/

.navbar-inner {
	background-image: none;
	background-color: white;
    border: none;
    -moz-box-shadow:    none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
}

.navbar .container {
	margin-top: 0px;
}

.menuItem li{
    padding: 10px;
}

.menuItem a {
	display: block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

	font-size: 18px;
	text-align: center;
}

.menuItem h4 > a:hover {
	background-color: #329553;
	color: white;
	/*moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000; */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid :DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.navbar .nav > li > a {
	color: #329553;
}

.navbar .nav > li > a:hover {
	text-decoration: none;
	color: #1F5C33;
}

.navbar .caret {
	border-top-color: #329553 !important;
	border-bottom-color: #329553 !important;
}

/***********************************************/
/**********  	GENERAL			 		********/
/***********************************************/

h2 {
	font-size: 35px;
	line-height: 40px;
}


/* HACK FOR COMBO HEIGHT */
.test {
	height: 27px !important;
}

/* FIX WARNING CLOSE BUTTON BORDERS */
.close {
	background-color: transparent;
	border: none;
}

/* Customization */
body, label {
	font-family: Helvetica-neue;
	font-family: 'SansationRegular', Fallback, Helvetica;
    font-size: 16px;
}

.bgWrapper {
	padding-top: 60px;
	padding-bottom: 40px;
	/*background-image: url(/public/images/noise.gif);*/
}

h1 {
	font-family: 'SansationBold', Fallback, Helvetica;
    margin-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

a {
	font-family: 'SansationBold', Fallback, Helvetica;
	color: #329553;
}

a:hover {
	text-decoration: none;
	color: #1F5C33;
}

.header {
	margin-bottom: 10px;
}

.footer {
	margin: 20px;
}

.shadow {
	/* shadow */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select[multiple], select[size] {
	-webkit-box-shadow: #666 3px 2px 5px;
    box-shadow: #666 3px 2px 5px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
    font-size: 20px;
}

select, input[type="submit"] {
    height: 40px;
    font-size: 20px;
}

input[type="text"], input[type="password"]{
    height: 28px;
}

.row{
    margin-top: 5px;
    margin-bottom: 5px;
}



/*==========================================*/
/*			Home Page						*/
/*==========================================*/

#updateList {
	font-size: 9px;
	height: 150px;
	overflow: auto;
	margin: 10px;
}

.updateDate {
	font-family: 'SansationBold', Fallback, Helvetica;
}

.eventPreviewContainer {
	width: 270px;
	height: 180px;
}

.eventPreview captions {
	margin-left: 8px;
	margin-right: 8px;
}

.eventPreview p {
	font-size: 11px;
	color: gray;
}

.eventPreview .eventPTitle {
	font-weight: bold;
	font-size: 12px;
}

#eventSearch div {
	margin-bottom: 5px;
	margin-top: 5px;
}

#eventSearch h4 {
	margin: 5px;
}

#rndSearchButton {
	margin-top: 20px;
	height: 60px;
}

.infoOverlay {
	display: none;
	position: absolute;
	color: #333;
	width: 270px;
	height: 180px;
	/*background-image: url("../images/bg-dark-85.png");*/
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	Filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	color: white;
}

.infoOverlay .content {
	padding: 10px;
}

.infoOverlay a {
	display: block;
	background-color: white;
	width: 100px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	opacity: 1;
}

/*==========================================*/
/*			Project							*/
/*==========================================*/
.imageUpload {
	margin: 20px;
}

#imagePreview {
	float: left;
}

.imageList li {
	display: inline;
	list-style: none;
	width: 150px;
	min-height: 175px;
	float: left;
	margin: 0 30px 30px 0;
	text-align: center;
}

.imageList li img { 
	/* This centers the image */
	display: block;
	margin-left: auto;
	margin-right: auto;

	
	/* border */
	border: solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color: white;
}

div.preview.loading {
	background: url('/public/images/loading.gif') no-repeat 39px 40px;
}

#uploadControlWrapper {
	margin-left: 30px;
	display: inline-block;
}

#mapContainer {
	border-radius: 1px;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 15px;
}

#mapResultTitle {
	font-weight: bold;
}