<nav>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
				<a class="brand" id="navbar-logo" href="/"><img src="@{'/public/images/logo.jpg'}" alt="Senseship"></a>
				<div class="nav-collapse">
					<p class="navbar-text pull-right">
						<div class="span1 offset1 menuItem">
							<h4><a href="#">Create Experience</a></h4>
						</div>
					</p>
					<p class="navbar-text pull-right">
						<div class="span1 offset1 menuItem">
							<h4><a href="#">Find Experiences</a></h4>
						</div>
					</p>
					<p class="navbar-text pull-right">
						<div class="span1 offset1 menuItem">
							<h4>#{a @Secure.login()}Register / Login#{/a}</h4>
						</div>
					</p>
					<ul class="nav pull-right menuItem">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> &{'menu.languages'} <b class="caret"></b> </a>
							<ul class="dropdown-menu">
								<li>
									#{a @Application.changeLang('en',request.url)}&{'menu.languages.english'}#{/a}
								</li>
								<li>

									#{a @Application.changeLang('es',request.url)}&{'menu.languages.spanish'}#{/a}
								</li>
								<li>

									#{a @Application.changeLang('de',request.url)}&{'menu.languages.german'}#{/a}
								</li>
							</ul>
						</li>
					</ul>
					<!-- ACTIVATE WHEN USER REGISTRATION -->
					<!--<p class="navbar-text pull-right">
					Logged in as <a href="#">username</a>
					</p>-->
				</div>

			</div>
		</div>
	</div>
</nav>