
<!-- NAVIGATION MENU -->
<nav>
    <div id="navbar" class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <a class="brand" id="navbar-logo" href="/"><img src="@{'/public/images/logo.jpg'}" alt="Senseship"></a>
                <!-- CREATE PROJECT -->
                <ul class="nav" role="navigation">
                    <li>
                        <div class="span2 menuItem">
                            <h4>#{a @ProjectController.newProject()}Create Experience#{/a}</h4>
                        </div>
                    </li>

                    <!-- IF USER IS LOGGED, MANAGE USER PROJECTS -->
                    #{if session.username}
                        <li>
                            <div class="span2 menuItem">
                                <h4>#{a @ProjectController.projectList()}Manage Experiences#{/a}</h4>
                            </div>
                        </li>
                    #{/if}

                    <!-- LOGIN / LOGOUT -->
                    <li>
                        <div class="span2 menuItem">
                            #{if session.username}
                                <h4>#{a @Secure.logout()}Logout#{/a}</h4>
                            #{/if}
                            #{else}
                                <h4>#{a @Secure.login()}Register / Login#{/a}</h4>
                            #{/else}
                        </div>
                    </li>

                </ul>
                <ul class="nav pull-right menuItem span4">
                    <!-- SHOW USER NAME -->
                    <li>
                        #{if session.username}
                            <div class="loggedUser navbar-text">Logged as <br/><a href="#">&{session.username}</a></div>
                        #{/if}
                    </li>

                    <!-- LANGUAGE SELECTOR -->
                    <li id="fat-menu" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> &{'menu.languages'} <b class="caret"></b> </a>
                        <ul class="dropdown-menu " role="menu" aria-labelledby="drop3">
                            <li>
                                #{a @Application.changeLang('en',request.url)}&{'menu.languages.english'}#{/a}
                            </li>
                            <li>
                                #{a @Application.changeLang('es',request.url)}&{'menu.languages.spanish'}#{/a}
                            </li>
                            <li>
                                #{a @Application.changeLang('de',request.url)}&{'menu.languages.german'}#{/a}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>