<!DOCTYPE html>

<html>
    <head>
        <title>&{'error.500.title'}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{500 exception /}
        #{/if}
        #{else}
            <h1>&{'error.500.header'}</h1>
            #{if exception instanceof play.exceptions.PlayException}
                <p>
                &{'error.500.exception'} <strong>${exception.id}</strong>.
                </p>
            #{/if}
        #{/else}
    </body>
</html>
