#{extends 'main.html' /}
#{set title:'Edit Project' /}

<div class="container">

	<div class="row">
		<div class="span8 offset4 page-header">
			<h1>&{'views.project.new.header'}</h1>
		</div>
	</div>
	
	<!-- NOTIFICATION -->
	#{if flash.success}
	<div class="row">
		<div class="alert alert-success fade in">
			<button class="close" data-dismiss="alert">
				×
			</button>
			&{flash.success}
		</div>
	</div>
	#{/if}

	<div class="row">
		<div class="span9">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#lA" data-toggle="tab">&{'views.project.new.menu.basicInfo'}</a>
					</li>
					<li class="">
						<a href="#lB" data-toggle="tab">&{'views.project.new.menu.images'}</a>
					</li>
					<li class="">
						<a href="#lC" data-toggle="tab">&{'views.project.new.menu.location'}</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="lA">
						#{project/basicInfo project:project /}
					</div>
					<div class="tab-pane" id="lB">
						#{project/images project:project, images:images /}
					</div>
					<div class="tab-pane" id="lC">
						<p>
							What up girl, this is Section C.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>