#{extends 'parentTemplate.html' /}
#{set title:'Edit Project' /}
#{set bodyExtra: "data-spy='scroll' data-target='.bs-docs-sidebar' data-twttr-rendered='true'"/}
#{set 'moreStyles'}
	#{stylesheet 'leaflet.css' /}
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="/public/stylesheets/leaflet.ie.css" />
	<![endif]-->
#{/set}



<div class="container">


	<div class="row">
		<div class="span12 page-header">
			<h1>&{'views.project.new.header'}</h1>
		</div>
	</div>
	
	<!-- NOTIFICATION -->
	#{if flash.success}
	<div class="row">
		<div class="alert alert-success fade in">
			<button class="close" data-dismiss="alert">
				×
			</button>
			&{flash.success}
		</div>
	</div>
	#{/if}

    <div class="row">
        <div class="bs-docs-sidebar span3 editProjectSideBar">
            <ul class="nav nav-list bs-docs-sidenav affix">
                <li><a href="#basicInfo"><i class="icon-chevron-right"></i><i class="icon-book"></i> &{'views.project.new.menu.basicInfo'}</a></li>
                <li><a href="#images"><i class="icon-chevron-right"></i><i class="icon-camera"></i> &{'views.project.new.menu.images'}</a></li>
                <li><a href="#location"><i class="icon-chevron-right"></i><i class="icon-map-marker"></i> &{'views.project.new.menu.location'}</a></li>
            </ul>
        </div>
        <div class="span9 editProjectContent">
            <section id="basicInfo">
                #{project/basicInfo project:project, categories:categories, cities:cities /}
            </section>
            <section id="images">
                #{project/images project:project /}
            </section>
            <section id="location">
                #{project/location /}
            </section>
        </div>
    </div>
</div>

#{set 'moreScripts'}
    #{script 'fileuploader.js'/}
    #{script 'leaflet.js' /}
    #{script 'ajaxupload.js' /}
    #{script 'map.js' /}
    <script type="text/javascript">
    $(document).ready(function(){
    	//Init openstreet map
    	initMap();
    
    	//Init image uploader form
    	//initImageUpload()
    
    	
    });
    </script>
#{/set}