#{extends 'parentTemplate.html' /}
#{set title:'List of projects' /}

<div class="container">

	<!-- HEADER -->
        <div class="span12">
            <h1>&{'views.project.list.header'}</h1>
        </div>


	<!-- NOTIFICATION -->
	#{if flash.success}
	<div class="row">
		<div class="alert alert-success fade in">
			<button class="close" data-dismiss="alert">
				×
			</button>
			&{flash.success}
		</div>
	</div>
	#{/if}

	<!-- TABLE LIST -->
	<div class="row">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>&{'views.project.list.table.name'}</th>
						<th>&{'views.project.list.table.headline'}</th>
                        <th>&{'views.project.list.table.date'}</th>
						<th>&{'views.project.list.table.actions'}</th>
					</tr>
				</thead>
				<tbody>
					#{list items:projects, as:'project'}
					%{projectId = project.id.toString()}%
					<tr>
						<td> ${project.name} </td>
						<td> ${project.headline} </td>
                        <td> </td>
						<td class="span1"> #{a @@ProjectController.showProject(project.id)}<i class="icon-search icon-2x"></i> #{/a} </td>
						<td class="span1"> #{a @ProjectController.editProject(project.id)}<i class="icon-edit icon-2x"></i> #{/a} </td>
						<td class="span1"> #{a @@ProjectController.deleteProject(project.id)}<i class="icon-trash icon-2x"></i> #{/a} </td>
					</tr>
					#{/}
				</tbody>
			</table>
	</div>

</div>
