#{extends 'main.html' /}
#{set title:'Registration' /}

<div class="container">
<div class="row">
	<div class="span8 page-header">
		<h1>Registration</h1>
	</div>
</div>

<div class="span7">
	<form class="form-horizontal well">
 		<fieldset>
    		<legend>Basic Account Information</legend>
    
    		<!-- USERNAME -->
			<div class="control-group">
		      <label class="control-label" for="username">Username</label>
		      <div class="controls">
		        <input type="text" class="input-xlarge" id="username">
		        <p class="help-block">Supporting help text</p>
		      </div>
		     </div>
		      
		    <!-- EMAIL -->
		      <div class="control-group">
		      <label class="control-label" for="email">Email</label>
		      <div class="controls">
		        <input type="text" class="input-xlarge" id="email">
		        <p class="help-block">Supporting help text</p>
		      </div>
		     </div>
		      
		      <!-- COUNTRY -->
		      <div class="control-group">
		      <label class="control-label" for="country">Country</label>
		      <div class="controls">
		        #{select 'country', items:allCountries, valueProperty:'id', labelProperty:'name', class:"span2 test", id:'country', size:0 /}    
		        <p class="help-block">Supporting help text</p>
		      </div>
		</div>
	<fieldset>
</form>
</div>
</div>