%{project = _project}%

#{form @ProjectController.saveProject()}
<fieldset>
	<legend>
		&{'views.general.basicInfo'}
	</legend>

	<input type="hidden" name="project._id" value="${project.id}"/>
	<!-- PROJECT NAME -->
	#{field 'project.name'}
	<div class="control-group #{twErrorClass field.name/}">
		<label class="control-label" for="&{field.name}">&{'views.project.name'}</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="name" name="${field.name}" value="${field.value}" placeholder="&{'views.project.name.info'}"/>
			<span class="help-inline">#{error field.name /}</span>
		</div>
	</div>
	#{/}

	<!-- HEADLINE -->
	#{field 'project.headline'}
	<div class="control-group #{twErrorClass field.name/}">
		<label class="control-label" for="&{field.name}" >&{'views.project.headline'}</label>
		<div class="controls">
			<textarea class="input-xlarge" id="headline" name="${field.name}" rows="3" placeholder="&{'views.project.headline.info'}">${field.value}</textarea>
			<span class="help-inline">#{error field.name /}</span>
		</div>
	</div>
	#{/}

	<!-- DESCRIPTION -->
	#{field 'project.description'}
	<div class="control-group #{twErrorClass field.name/}">
		<label class="control-label" for="&{field.name}" >&{'views.project.description'}</label>
		<div class="controls">
			<textarea class="input-xxlarge" id="${field.name}" name="${field.name}" rows="10" placeholder="&{'views.project.description.info'}">${field.value}</textarea>
			<span class="help-inline">#{error field.name /}</span>
		</div>
	</div>
	#{/}

	<!-- GOAL -->
	#{field 'project.goal'}
	<div class="control-group #{twErrorClass field.name/}">
		<label class="control-label" for="&{field.name}" >&{'views.project.goal'}</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="${field.name}" name="${field.name}" value="${field.value}" placeholder="&{'views.project.goal.info'}"/>
			<span class="help-inline">#{error field.name /}</span>
		</div>
	</div>
	#{/}
	
	<!-- GOAL -->
	#{field 'project.city'}
	<div class="control-group #{twErrorClass field.name/}">
		<label class="control-label" for="&{field.name}" >&{'views.project.city'}</label>
		<div class="controls">
			#{select 'project.city._id', items:_cities, valueProperty:'id', labelProperty:'name', id:'city', value:project.city._id, size:0 /}
			<!-- <select id="${field.name}" name="project.city.id" value="" size="1" id="select">
				#{list _cities, as:'city'}
				<option value="city" ${project.city.equals(city) ? 'selected' : ''} >${city.name}</option>
				#{/list}
			</select> -->
			<span class="help-inline">#{error field.name /}</span>
		</div>
	</div>
	#{/}
	
	
	<!-- CATEGORIES -->
	#{field 'project.categories'}
	<div class="control-group">
		<label class="control-label" for="&{field.name}">&{'views.project.category'}</label>
		<div class="controls">
			<select id="${field.name}" name="project.categories._id" value="" size="1" id="select" multiple>
				#{list _categories, as:'category'}
				<option value="${category.id}" ${project.categories.contains(category) ? 'selected' : ''} >${category.name}</option>
				#{/list}
			</select>
		</div>
	</div>
	#{/}


	<!-- NON Profit -->
	#{field 'project.nonProfit'}
	<div class="control-group #{twErrorClass field.name/}">
		<label class="control-label" for="&{field.name}" >&{'views.project.nonProfit'}</label>
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" id="nonProfit" name="${field.name}" #{if field.value}checked="true"#{/if}>
				<span class="help-inline">&{'views.project.nonProfit.info'}</span> </label>
		</div>
	</div>
	#{/}

	<div class="form-actions">
		<button type="submit" class="btn btn-large btn-primary">
			&{'views.project.update'}
		</button>
	</div>
</fieldset>
#{/form}