<div class="sectionHeader">
    <h3>
    &{'views.general.images'}
    </h3>
    <p class="muted">
        Images are the best way to describe and share experiences, add some!
    </p>
</div>


<!--  image list -->
<div class="row span9 imageList">
	<ul class="imageList">
        #{list _project.images, as:'image', }
            <li><img height="150px" width="150px" class="shadow" src=${image.url} /></li>
        #{/list}
        <li style="display:none"><img alt="image"
                 height="0" width="0" id="image-preview" /> <br />Preview</li>
		<li id="uploaderItem"><img src="@{'/public/images/camera.png'}" alt="image"
			height="150px" width="150px" id="image-upload-icon" /> <br />Upload
			a new picture</li>
	</ul>
</div>
<br />

<!--Import the Aviary and Filepicker.io scripts-->
<script src='http://feather.aviary.com/js/feather.js'></script>
<script src='//api.filepicker.io/v1/filepicker.js'></script>
<!--Your application-->
<script type='text/javascript'>
	//Setup Filepicker.io - to get an apikey, go to https://developers.filepicker.io/register/
	filepicker.setKey('AGP5KGrHCRGuPFBHW2ruQz');

	//Setup Aviary
	var featherEditor = new Aviary.Feather({
		apiKey : '2bd8dfdcb',
		apiVersion : 2,
		onSave : function(imageID, newURL) {
			//Export the photo to the cloud using Filepicker.io!
			console.log(newURL);
			var fpfile = {
				url : this.url,
				isWriteable : true
			};

			filepicker.writeUrl(fpfile, newURL, function(FPFile) {
				console.log(JSON.stringify(FPFile));
                var data = {
                    idProject : '${_project._id}',
                    imageUrl : FPFile.url
                }
                var updateUserRoute = #{jsRoute @ProjectController.imageSaved() /}

               //make ajax call
                $.ajax({
                    url: updateUserRoute.url(),
                    type: updateUserRoute.method,
                    data: data,
                    dataType: "json",
                    success: (function(data){
                        console.log("got here");

                        var itemElement = document.createElement('li');
                        var img = document.createElement('img');
                        //disable the cache for the new image
                        img.src=data.imageUrl+ "?dummy";
                        itemElement.appendChild(img);

                        $('#uploaderItem').before(itemElement);
                    }),
                    error: function( xhr,err ) {
                        console.log( 'Sample of error data:', err );
                        console.log("readyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
                    }

                });
				
			});
		},
		maxSize : 400
	});

	//Giving a placeholder image while Aviary loads
	var preview = document.getElementById('image-preview');

	//When the user clicks the button, import a file using Filepicker.io
	var editPane = document.getElementById('image-upload-icon');
	editPane.onclick = function() {
		filepicker.pick({
			mimetype : 'image/*'
		}, function(fpfile) {
			//Showing the preview
			preview.src = fpfile.url;

			//Launching the Aviary Editor
			featherEditor.launch({
				image : preview,
				url : fpfile.url
			});
		});
	};
</script>