#{form @ProjectController.saveImage(_project._id), enctype:'multipart/form-data', id:"formImage"}

<fieldset>
	<legend>
		&{'views.general.images'}
	</legend>

	#{list _images, as:'image'}

	<img src="@{Application.displayImage(image.id.toString())}">

	#{/}

	<!-- IMAGE -->
	<input type="file" name="photo" class="file-input">

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">
			&{'project.image.upload'}
		</button>
	</div>
</fieldset>
#{/form}

<!--<script>
	// wait for the DOM to be loaded
	var options = {
		success : processResponse
	};
	$(document).ready(function() {
		// bind 'myForm' and provide a simple callback function
		//$('#formImage').ajaxForm(options);
		//$('#formImage').ajaxForm(function() {
		/**$('#result').load(function() {
		 $(this).unbind('load');
		 this.src = '/script/dynamicimage';
		 });*/
		//});
	});

	function showResponse(responseText, statusText, xhr, $form) {
		// for normal html responses, the first argument to the success callback
		// is the XMLHttpRequest object's responseText property

		// if the ajaxForm method was passed an Options Object with the dataType
		// property set to 'xml' then the first argument to the success callback
		// is the XMLHttpRequest object's responseXML property

		// if the ajaxForm method was passed an Options Object with the dataType
		// property set to 'json' then the first argument to the success callback
		// is the json data object returned by the server

		alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + '\n\nThe output div should have already been updated with the responseText.');
	}

	function processResponse(responseText, statusText, xhr, $form) {
		alert(responseText);
	};
</script>-->
