<fieldset>
	<legend>
		&{'views.project.location'}
	</legend>
	
	<label>&{'views.project.select.location'}</label>

	<div class="row">
		<div id="mapSelector" class="span9" style="height: 300px;"></div>
	</div>
	<div class="row">
		<div class="alert alert-info span8" id="mapResult">
			&{'views.project.location.selected'}
	  		<p><span id="mapResultAddress"></span></p>
		</div>
	</div>

</fieldset>

#{set 'moreScripts'}

#{script 'leaflet.js' /}
#{script 'senseship.js'/}

<script type="text/javascript" charset="utf-8">
var options = {
	'latitude' : '52.5015955',
	'longitude' : '13.4023271',
	'zoom' : 13	
}
var map = createMapforEditProject(options);
map.on('click', onMapClick);
fixMapInMenu(map, "#link3");

</script>

#{/set}