#{extends 'parentTemplate.html' /}
#{set title:'homepage.html' /}

<div class="container">

	<!-- Basic info row + updates -->
	<div class="row">
		<!-- INFO -->
		<div class="span9" id="intro">
			<div>
				<p>
					<h2>Find, join and make meaningful experiences to make a <span class="dynamo" data-center="true" data-lines="cleaner,healthier,friendlier">better</span> world more likely</h2>
				</p>

				<p>
					<h3>Find and create easy participation options in social projects, community activities and other challenging collaborations. (Learn <a href="#">more</a>)</h3>
				</p>

			</div>
		</div>
		<div class="span3">
			<h3>Latest Updates</h3>
			<div id="updateList">
				<dl>
					<dt>
						<span class="updateDate">01/05/2012</span>
					</dt>
					<dd>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</dd>
					<dt>
						<span class="updateDate">01/05/2012</span>
					</dt>
					<dd>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</dd>
					<dt>
						<span class="updateDate">01/05/2012</span>
					</dt>
					<dd>
						Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<!-- PROJECT PREVIEWS -->
	<div class="row">
		<div class="span9">
			<ul class="thumbnails">
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180?dummy" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>
				
				<li class="span3 eventPreview">
					<div class="eventPreviewContainer">
						<div class="infoOverlay">
								<div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
							</div>
						<img src="http://placehold.it/260x180" alt="">
					</div>
				</li>

			</ul>
		</div>

		<!-- SEARCH CONTROLS -->
		<div class="span3" id="eventSearch">
			<h3>Search</h3>
			<div id="eventSearchCity">
				<h4>City</h4>
				<select class="span3">
					<option>Select a city</option>
					<option>Berlin</option>
					<option>Munich</option>
					<option>Dusseldorf</option>
				</select>
			</div>
			<div id="eventSearchCategory">
				<h4>Category</h4>
				<select class="span3">
					<option>Select a category</option>
					<option>Everyday Life and Culture</option>
					<option>Swapping and Switching</option>
					<option>Collaborative Consumption</option>
				</select>
			</div>
			<div id="eventSearchDate">
				<h4>Date</h4>
				<input type="text" class="span3"/>
			</div>
			<input type="submit" class="btn btn-success span3" value="Find"/>
			<br/>
			<input type="submit" class="btn btn-warning span3" id="rndSearchButton" value="Random!"/>
		</div>
	</div>

	<!-- FOOTER LINKS -->
	<footer class="footer">
		<div class="row">
			<div class="span1 menuItem">
				<h4><a href="#">About</a></h4>
			</div>
			<div class="span1 offset3 menuItem">
				<h4><a href="#">Service</a></h4>
			</div>
			<div class="span1 offset3 menuItem">
				<h4><a href="#">Legal</a></h4>
			</div>
		</div>
	</footer>

	#{set 'moreScripts'}
	#{script 'senseship.js' /}
	#{script 'dynamo.min.js' /}
	<script type="text/javascript">
		$(document).ready(function() {
			//init layout functions
			bindProjectEvent();
			$('.dynamo').dynamo();
		});
	</script>
	#{/set}
</div>
