#{extends 'parentTemplate.html' /}
<div class="container">

<!-- Basic info row + updates -->
<div class="row">
    <!-- INFO -->
    <div class="span6 offset1" id="intro">
        <div>
            <p>
            <h2>Find, join and make meaningful experiences to make a <span class="dynamo" data-center="true" data-lines="cleaner,healthier,friendlier">better</span> world more likely</h2>
            </p>

            <p>
            <h3>Find and create easy participation options in social projects, community activities and other challenging collaborations. (Learn <a href="#">more</a>)</h3>
            </p>

        </div>
    </div>
    <div class="span2 offset1">
        <h3>Latest Updates</h3>
        <div id="updateList">
            <dl>
                <dt>
                    <span class="updateDate">01/05/2012</span>
                </dt>
                <dd>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </dd>
                <dt>
                    <span class="updateDate">01/05/2012</span>
                </dt>
                <dd>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </dd>
                <dt>
                    <span class="updateDate">01/05/2012</span>
                </dt>
                <dd>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </dd>
            </dl>
        </div>
    </div>
</div>

<!-- PROJECT PREVIEWS -->
<div class="row">
    <div class="span6 offset1">
        <ul class="thumbnails">
            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

            <li class="span2 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/200x200?dummy" alt="">
                </div>
            </li>

        </ul>
    </div>

    <!-- SEARCH CONTROLS -->
    <div class="span2 offset1" id="eventSearch">

        <div class="span1">
            <h3>Search</h3>
        </div>

        <div class="row">
            <div class="span2">
                <div id="eventSearchCity">
                    <h4>Where</h4>
                    <select class="span2">
                        <option>Select a city</option>
                        <option>Berlin</option>
                        <option>Munich</option>
                        <option>Dusseldorf</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="span2">
                <div id="eventSearchCategory">
                    <h4>What</h4>
                    <select class="span2">
                        <option>Select a category</option>
                        <option>Everyday Life and Culture</option>
                        <option>Swapping and Switching</option>
                        <option>Collaborative Consumption</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <div id="eventSearchDate">
                    <h4>Date</h4>
                    <div class="input-prepend date" id="datePicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" class="span2">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input class="" type="text" value="12-02-2012" readonly="">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <div id="eventSearchButtons">
                    <input type="submit" class="btn btn-custom btn-success span2" value="Find"/>
                    <br/>
                    <input type="submit" class="btn btn-warning span2" id="rndSearchButton" value="Random!"/>
                </div>
            </div>
        </div>

    </div>
</div>

#{set 'moreScripts'}
    #{script 'senseship.js' /}
    #{script 'dynamo.min.js' /}
    #{script 'bootstrap-datepicker.js' /}
<script type="text/javascript">
    /**
     * Initialize the dynamo functionality
     */
    function startDynamo(){
        $('.dynamo').dynamo();
    };

    /**
     * Initialize the datepicker functionality
     */
    function startDatePicker(){
        $('#datePicker').datepicker();
    };

    $(document).ready(function() {
        //init layout functions
        bindProjectEvent();
        startDynamo();
        startDatePicker();
    });

</script>

#{/set}

#{set 'moreStyles'}
    #{stylesheet 'datepicker.css' /}
#{/set}
</div>
