#{extends 'parentTemplate.html' /}
<div class="container">

<!-- Basic info row + updates -->
<div class="row">
    <!-- INFO -->
    <div class="span9" id="intro">
        <div>
            <p>
            <h2>&{'views.homepage.intro1_1'} <span class="dynamo" data-center="true" data-lines="&{'views.homepage.intro.dynamo.data'}">&{'views.homepage.intro.dynamo.body'}</span> &{'views.homepage.intro1_2'}</h2>
            </p>

            <p>
            <h3>&{'views.homepage.intro2_1'} <a href="#">&{'views.homepage.intro.link.more'}</a>&{'views.homepage.intro2_2'}</h3>
            </p>

        </div>
    </div>
    <div class="span3">
        <h3>&{'views.homepage.updates'}</h3>
        <div id="updateList">
            <dl>
                <dt>
                    <span class="updateDate">01/05/2012</span>
                </dt>
                <dd>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </dd>
                <dt>
                    <span class="updateDate">01/05/2012</span>
                </dt>
                <dd>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </dd>
                <dt>
                    <span class="updateDate">01/05/2012</span>
                </dt>
                <dd>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </dd>
            </dl>
        </div>
    </div>
</div>

<!-- PROJECT PREVIEWS -->
<div class="row">
    <div class="span9">
        <ul class="thumbnails">
            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180?dummy" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

            <li class="span3 eventPreview">
                <div class="eventPreviewContainer, shadow">
                    <div class="infoOverlay">
                        <div class="content">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                    </div>
                    <img src="http://placehold.it/270x180" alt="">
                </div>
            </li>

        </ul>
    </div>

    <!-- SEARCH CONTROLS -->
    <div class="span3" id="eventSearch">

        <div class="span1 offset1">
            <h3>&{'views.homepage.search'}</h3>
        </div>

        <div class="row">
            <div class="span3">
                <div id="eventSearchCity">
                    <h4>&{'views.homepage.city'}</h4>
                    <select class="span3">
                        <option>&{'views.homepage.city.instruction'}</option>
                        <option>&{'city.berlin'}</option>
                        <option>&{'city.munich'}</option>
                        <option>&{'city.dusseldorf'}</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="span3">
                <div id="eventSearchCategory">
                    <h4>&{'views.homepage.category'}</h4>
                    <select class="span3">
                        <option>&{'views.homepage.category.instruction'}</option>
                        <option>&{'category.culture'}</option>
                        <option>&{'category.swapping'}</option>
                        <option>&{'category.collaborativeConsumption'}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <div id="eventSearchDate">
                    <h4>&{'views.homepage.date'}</h4>
                    <div class="input-prepend date" id="datePicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input class="span2" size="16" type="text" value="12-02-2012" readonly="">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div id="eventSearchButtons">
                    <input type="submit" class="btn btn-custom btn-success span3" value="&{'views.homepage.button.find'}"/>
                    <br/>
                    <input type="submit" class="btn btn-warning span3" id="rndSearchButton" value="&{'views.homepage.button.random'}"/>
                </div>
            </div>
        </div>

    </div>
</div>

#{set 'moreScripts'}
    #{script 'senseship.js' /}
    #{script 'dynamo.min.js' /}
    #{script 'bootstrap-datepicker.js' /}
<script type="text/javascript">
    /**
     * Initialize the dynamo functionality
     */
    function startDynamo(){
        $('.dynamo').dynamo();
    };

    /**
     * Initialize the datepicker functionality
     */
    function startDatePicker(){
        $('#datePicker').datepicker();
    };

    $(document).ready(function() {
        //init layout functions
        bindProjectEvent();
        startDynamo();
        startDatePicker();
    });

</script>

#{/set}

#{set 'moreStyles'}
    #{stylesheet 'datepicker.css' /}
#{/set}
</div>
