#{extends 'developTemplate.html' /}
#{set title:'imageUploadTest.html' /}

#{set 'moreStyles'}
#{stylesheet 'fileuploader/jquery.fileupload-ui.css' /}
#{/set}

#{set 'moreScripts'}

#{script 'fileuploader/vendor/jquery.ui.widget.js'/}
#{script 'fileuploader/jquery.iframe-transport.js'/}
#{script 'fileuploader/jquery.fileupload.js'/}


<script>
	$(function() {
		$('#fileupload').fileupload({
			dataType : 'json',
			done : function(e, data) {
				$.each(data.result, function(index, file) {
					$('<p/>').text(file.name).appendTo(document.body);
				});
			}
		});
	}); 
</script>
#{/set}

<div class="container background">
	<!--<form id="fileupload" action="server/php/" method="POST" enctype="multipart/form-data">-->
	#{form @Application.uploadFiles(), enctype:'multipart/form-data', id:"imageUpload"}
	<input type="hidden" name="projectId" value="2"/>
	<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	<div class="row fileupload-buttonbar">
		<div class="span7">
			<!-- The fileinput-button span is used to style the file input field as button -->
			<span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
			<button type="submit" class="btn btn-primary start">
				<i class="icon-upload icon-white"></i>
				<span>Start upload</span>
			</button>
		</div>
		<!-- The global progress information -->
		<div class="span5 fileupload-progress fade">
			<!-- The global progress bar -->
			<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				<div class="bar" style="width:0%;"></div>
			</div>
			<!-- The extended global progress information -->
			<div class="progress-extended">
				&nbsp;
			</div>
		</div>
	</div>

	<!-- The loading indicator is shown during file processing -->
	<div class="fileupload-loading"></div>
	<br>
	<!-- The table listing the files available for upload/download -->
	<table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>

	#{/form}
	
	
	#{form @@Application.uploadFiles(), enctype:'multipart/form-data'}
        <input type="file" id="multiple" name="files" multiple>
        <input type="submit">
	#{/form}
</div>

</script>