<!DOCTYPE html>

<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta charset="${_response_encoding}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		#{get 'moreStyles' /}

		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

		

	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50">
		#{menu /}
		<div class="container">
			#{doLayout /}
		</div>
	</body>
	<script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	#{script 'underscore.js' /}
	#{get 'moreScripts' /}
</html>
