<!DOCTYPE html>

<html>
	<head>
		<title>&{'views.parentTemplate.tittle'}</title>
		<meta charset="${_response_encoding}">
		
		<!-- CSS -->
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/font-awesome.css'}">

		#{get 'moreStyles' /}

        <!--<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">  -->
        <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	</head>
	<body #{get 'bodyExtra' /}>
		#{navBar /}
		#{doLayout /}
	</body>


    <!-- FOOTER LINKS -->
    <footer class="footer" data-spy="affix-bottom">
        <div class="row">
            <div class="span2 offset2 menuItem">
                <h4><a href="#">&{'views.parentTemplate.about'}</a></h4>
            </div>
            <div class="span2 offset2 menuItem">
                <h4><a href="#">&{'views.parentTemplate.service'}</a></h4>
            </div>
            <div class="span2 offset2 menuItem">
                <h4><a href="#">&{'views.parentTemplate.legal'}</a></h4>
            </div>
        </div>
    </footer>
	
	<!-- JAVASCRIPT -->
	<script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
	#{script 'underscore.js' /}
	#{get 'moreScripts' /}
</html>
